<div class="container mt-5">
  <div class="row">
    <div class="col-12 d-block d-md-none " data-aos="fade-up" data-aos-duration="3000">
      <img src="assets/images/about-us.jpg" class="img-fluid" />
    </div>
    <div class="col-12 col-md-5 mt-3 mt-0" data-aos="fade-up" data-aos-duration="3000">
      <h3 style="color: #5c0855;">à propos de la startup</h3>
       <h6>Votre partenaire dans l'innovation digitale</h6>
       <p class="mt-4 text-muted">
        Nous aidons les marques à créer des solutions digitales qui répondent à des problématiques au cœur de leur métier.
        </p>
        <p class="text-muted">
          Notre mission est de vous apporter une solution digitale qui
          s'adapte parfaitement à votre besoin.
        </p>
        <p class="text-muted">
          Fort d'une expérience de plus de 10 ans dans différents secteurs du numérique,
          nous sommes persuadés que notre qualité de service défie toute concurence.
        </p>
        <div class="row mt-5 px-5 px-md-2">
          <div class="col-md-6 col-12">
           <img src="assets/about/badge.png"  class="img"/>
           <h4 class="mt-2">Expérience</h4>
           <p class="bar mt-2">Soutenu par des experts dans leur domaine</p>
          </div>
          <div class="col-md-6 mt-4 mt-md-0 col-12">
           <img src="assets/about/solutions.png" class="img" />
           <h4 class="mt-2">Ingéniosité</h4>
           <p class="bar mt-2">Une créativité et des innovations sans limite </p>
          </div>
       </div>
    </div>

    <div class="col-md-7 d-none d-md-block back-img" data-aos="fade-up" data-aos-duration="3000" >

    </div>
  </div>
</div>
