.container-fluid{
  padding: 2em 0;
  background-color: #FFFFFF;
}
h5{
  font-size: 36px;
  font-weight: 600;
}

p{
  font-size: 18px;
  font-weight: 400;
}

.card{
  border: none !important;
}

h6{
  font-size: 18px;
  font-weight: 500;
}
