.container-fluid{
  padding: 3em 0;
  background-color: #082552;
  color: #FFFFFF !important;

}
h5{
  font-size: 36px;
  font-weight: 600;
}

p{
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.card{
  border: none !important;
}

h6{
  font-size: 18px;
  font-weight: 500;
}
