.wrapper{
  min-height: 310px;
  padding: 2em;
  padding-top: 3em;
  padding-bottom: 2em;
  font-size: 16px;
  font-weight: 400;
}

.rsc{
 display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-size: 16px;
  color: #DC5459;
  align-items: center;
  justify-content: center;

}

img{
  width: 160px;
}

li{
  color: #FFFFFF;
  line-height: 32px;
  font-size: 14px;
}

h4{
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 600px) {

}
