.wrapper{
  background-color: #0F38A7;
  background-image: url("/assets/header/back.jpg");
  width: 100%;
  height: 77vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;



}


h1{
    font-weight: 600;
    color: #ffffff;
    font-family: "basis_grotesque_probold",sans-serif;
    font-size: 2.375em;
    line-height: .95;
    letter-spacing: -1px

}

p{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}

.overlayer{
  width: 100%;
  height: 77vh;
  background-color: #08265260;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 25vh;


}



@media  (min-width: 600px) {
  .overlayer{
    padding-left: 8em;

  }
}

@media  (max-width: 600px) {
  .overlayer, .wrapper{

  height: 65vh;

  }
}











