.wrapper{
  background-image: url("/assets/header/back.jpg");
  width: 100%;
  height: 100vh;
  background-color: red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;



}

h1{
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

p{
  color: #96CEFF;
  font-size: 16px;
  font-weight: 500;
}

.overlayer{
  width: 100%;
  height: 100vh;
  background-color: #00000078;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 45vh;

}









