<div class="container-fluid mt-5 px-3 px-md-5  bg-white">
  <h3 style="color: #5c0855;">Nos Services</h3>
  <h6>Nous offrons une large <br/> variété de services IT</h6>

  <div class="row px-2 px-md-4">
     <div *ngFor="let m of services" class="col-12 col-md-4 mt-5 px-0" data-aos="fade-up" data-aos-duration="3000">
       <div class="d-flex">
           <div>
            <img [src]="m.icon" />
           </div>
           <div class="ml-3">
               <h4>{{m.title}}</h4>
               <p class="mt-3 text-muted">{{m.desc}}</p>
           </div>
       </div>
     </div>
  </div>
</div>

