<div class="card card-body p-5">
  <form>
    <div class="form-group">
      <label for="name" class="text-muted">Votre nom complet </label>
      <input type="email" class="form-control" id="name" placeholder="Babacar">
    </div>
    <div class="form-group">
      <label for="email" class="text-muted">Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
      <label for="phone" class="text-muted">Téléphone</label>
      <input type="tel" class="form-control" id="phone" placeholder="+33 00 00 00 00">
    </div>
    <div class="form-group">
      <label for="industry" class="text-muted">Secteur d'acticité</label>
      <select class="form-control" id="industry">
        <option>Travel</option>
        <option>Commerce</option>
      </select>
    </div>

    <div class="form-group">
      <textarea class="form-control"  rows="3" placeholder="Comment pouvons-nous vous aider ?"></textarea>
    </div>
    <button class="btn bg-red">Envoyer</button>
  </form>

</div>
