<div class="card card-body mt-5">
  <h5 class="text-center mt-5">Laissez nous un message</h5>
  <form class="mt-5">
    <div class="form-group">
      <input type="email" class="form-control form-control-lg" id="name" placeholder="Votre Nom">
    </div>
    <div class="form-group">
      <input type="email" class="form-control form-control-lg" id="email" placeholder="Votre Email">
    </div>

    <div class="form-group">
      <textarea class="form-control"  rows="4" placeholder="Comment pouvons-nous vous aider ?"></textarea>
    </div>
    <p class="text-center mt-5">
      <button class="btn  bg-blue px-5 py-2 text-white">Envoyer</button>
    </p>
  </form>

</div>
