.card{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  min-height: 420px;
  padding: 3em 5em;
}

h5{
  font-size: 22px;
  font-weight: 600;
}

input, textarea{
  border: 1px solid #e3e2e2af;
}

@media (max-width: 600px) {
  .card{
  padding: 3em 2em;

  }
}
