<div class="card card-custom bg-white border-white border-0">
  <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
  <div class="card-custom-avatar">
    <img class="img-fluid" src="http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg" alt="Avatar" />
  </div>
  <div class="card-body" style="overflow-y: auto">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Card has minimum height set but will expand if more space is needed for card body content. You can use Bootstrap <a href="https://getbootstrap.com/docs/4.0/components/card/#card-decks" target="_blank">card-decks</a> to align multiple cards nicely in a row.</p>
  </div>
  <div class="card-footer" style="background: inherit; border-color: inherit;">
    <button class="btn btn-outline-success">Lire la suite</button>
  </div>
</div>
