<div class="card card-custom bg-white border-white border-0">
  <div class="card-custom-img" style="background-image: url({{article.cover}}); background-size: contain; background-position: center;"></div>
  <div class="card-custom-avatar">
    <img class="img-fluid" src="assets/images/senghor.png" alt="Avatar" style="background-color: white;" />
  </div>
  <div class="card-body" style="overflow-y: auto">
    <h4 class="card-title">{{article.title}}</h4>
    <p class="card-text">
      {{article.content | slice:0:180}}...
    </p>
  </div>
  <div class="card-footer" style="background: inherit; border-color: inherit;">
    <button class="btn btn-outline-success">Lire la suite</button>
  </div>
</div>
