<nav class="navbar navbar-expand-lg navbar-dark px-4" [class.dark]="dark" [class.colored]="colored" >
  <a class="navbar-brand" href="#">
    <img src="assets/header/logo-blanc.png" alt="coup2pouce" class="img-fluid"  />
  </a>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let n of menus" class="nav-item" [class.active]="">
        <a class="nav-link" [href]="n.path" >{{n.label}}</a>
      </li>
      <li class="nav-item px-5 pt-1">
        <a href="https://www.linkedin.com/company/coup2pouce-sn/" class="rsc"><i class="fa fa-facebook"></i></a>
        <a href="https://www.linkedin.com/company/coup2pouce-sn/" class="rsc mx-3"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/coup2pouce-sn/" class="rsc"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
</nav>
<label class="navside">
  <input type="checkbox">
  <span class="menu"> <span class="hamburger"></span> </span>
  <ul class="list-unstyled">
    <li *ngFor="let n of menus">
      <a [href]="n.path" >{{n.label}}</a>
    </li>
  </ul>
  </label>
