<div class="container-fluid m-0 mt-5">
  <div class="row">
    <div class="col-12 col-md-6 " data-aos="fade-right">
      <img src="assets/about/about.jpg" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 p-5" data-aos="fade-left">
       <h1 class="section-title">{{about.title}}</h1>
       <ul class="list-unstyled text-muted mt-4">
        <li>
          <p>{{about.desc.p1}}</p>
        </li>
        <li>
          <p>{{about.desc.p2}}</p>
        </li>
       </ul>
    </div>
  </div>
</div>
