<div class="container m-5 p-5">
  <div class="row">
    <div class="col-12 col-md-6 " data-aos="fade-right">
      <img src="assets/about/about-us.jpg" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 px-5" data-aos="fade-left">
       <h1 >Qui Sommes-Nous </h1>
       <p class="my-3">Nous accompagnons les entreprises dans leur digitalisation <br>
         en leur fournissant notre expertise dans:
        </p>
        <ul class="list-unstyled">
          <li>
            <h5>
              <img class="img-fluid" src="assets/about/web.png">
              <span class="ml-2">Développement Web</span>
            </h5>
            <p class="mll">Des applications métiers calibrées sur vos besoins </p>
          </li>
          <li>
            <h5>
              <img class="img-fluid" src="assets/about/mobile.png">
              <span class="ml-2">Développement Mobile</span>
            </h5>
            <p  class="mll">Nos solutions mobiles vous simplifie la vie et celle de vos utilisateurs</p>
          </li>
          <li>
            <h5>
              <img class="img-fluid" src="assets/about/ux.png">
              <span class="ml-2">UX/UI Design</span>
            </h5>
            <p  class="mll">Un design simple et captivant pour toutes platforme</p>
          </li>
        </ul>
    </div>
  </div>
</div>
