h1{
  font-size: 22px;
  font-weight: 600;

}
p{
 font-size: 14px;
 color: rgb(35, 35, 35);
}

.mll{
   margin-left: 56px;
}


h5{
  span{
    font-size: 18px;
    font-weight: 500;

  }
  img{
    width: 46px;
  }

}
