<div class="container-fluid m-0">
  <div class="row">
    <div class="col-12 col-md-6 " data-aos="fade-right">
      <img src="assets/about/about.jpg" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 p-5" data-aos="fade-left">
       <h1>Pourquoi nous ?</h1>
       <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt ab maxime illo perferendis odio. Exercitationem repudiandae suscipit ab aliquid perferendis, placeat recusandae provident adipisci enim, id laboriosam voluptates voluptatibus et.</p>
    </div>
  </div>
</div>
