
<section class="page-section page-section__darkest" id="section-work">
  <div class="container">
    <app-title [title]="workprocess.title" [subTitle]="workprocess.subTitle"></app-title>
    <!-- Timeline -->
    <div class="timeline row">
      <div class="col-md-2" *ngFor="let i of workprocess.items">
        <a href="#" class="item-link">
          <h5>{{i.label}}</h5>
          <div class="desc-holder">
            <span class="desc">{{i.desc}}</span>
          </div>
        </a>
      </div>
    </div>
    <!-- Timeline / End -->

  </div>
</section>
