.nav-link{
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #353535 !important;
}

nav{
  transition: box-shadow .5s ease-out;
}

.shadow{
  box-shadow: rgba(33, 35, 38, 0.1) 0px 1px 1px -1px;


}


