#card-1{
  border: none !important;

  height: 260px;
  cursor: pointer;
  transition: background-color 1s;
  padding: 1.5em 1em;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #FFFFFF !important;
}

.card-title{
  color: #FFFFFF !important;
}
#card-1:hover{
    background-color: #96CEFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    img{
      filter: opacity(0.5) drop-shadow(0 0 0 #96CEFF);
    }

}


ul{
  li{
    line-height: 36px;

  }
}

  img{
    width: 68px !important;

  }

  @media only screen and (max-width: 768px) {
    img{
      width: 68px !important;
      margin: 0 auto;

    }
     i{
      display: none;
     }
    ul{
      margin: 0 auto;
    }
  }

