<div class="container">
  <app-title [title]="service.title"></app-title>
  <p class="text-muted px-0 px-md-5 text-center">{{service.desc}}</p>
  <div class="row mt-5">
    <div class="col-12 col-md-3 mt-3" *ngFor="let s of service.items">
       <div class=" card card-body text-center"  id="card-1">
          <img class="img-fluid mt-3" [src]="s.icon" [alt]="s.label" >
         <h5 class="card-title mt-5">{{s.label}}</h5>
         <p class="card-text">{{s.desc}}</p>
       </div>
    </div>
 </div>
</div>

