#card-1{
  border: none !important;

  height: 260px;
  background-color: transparent ;
  cursor: pointer;
  transition: background-color 1s;
  padding: 1.5em 1em;

  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#card-1:hover{
    background-color: #96CEFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    img{
      filter: opacity(0.5) drop-shadow(0 0 0 #96CEFF);
    }

}


ul{
  li{
    line-height: 36px;

  }
}

  img{
    width: 68px !important;

  }

  @media only screen and (max-width: 768px) {
    img{
      width: 68px !important;
      margin: 0 auto;

    }
     i{
      display: none;
     }
    ul{
      margin: 0 auto;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
:root {
    --primary-color: #E30053;
    --secondary-color: #818cab;
    --font-color: #fff;
    --bg-color: #14141B;
    --bg-secondary-color: #1E1E26;
    --heading-color: #fff;
    --shadow-color: rgba(0,0,0,.475);
    --shadow-over-red-color: rgba(0,0,0,.16);
}

body {
  background: var(--bg-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
}

.how-we-work {
  padding: 50px;
  position: relative;
  display: grid;
  width: 450px;
  height: 520px;
  align-items: center;
  margin:  auto;
  .circle {
    width: 450px;
    height: 450px;
    border-radius: 304px;
    background: var(--primary-color);
    margin: 0 auto;
    margin-top: 50px;
  }
  .circle-front {
    width: 30px;
    height: 30px;
    border-radius: 304px;
    border: 6px solid var(--primary-color);
    position: abolute;
    z-index: 0;
    right: 0;
    bottom: -50px;
    filter: blur(10px)
  }
  &-box {
    background: var(--bg-secondary-color);
    display: grid;
    grid-template-rows: 28px auto 28px;
    height: 240px;
    width: 210px;
    border-radius: 25px;
    padding: 25px;
    font-weight: bold;
    position: absolute;
    align-items: center;
    font-size: 20px;
    box-shadow: 0 12px 21px var(--shadow-over-red-color);
    .name {
      bottom: 20px;
      text-shadow: 0 22px 11px var(--shadow-color);
    }
    .number {
      opacity: 0.3;
      text-shadow: 0 12px 11px var(--shadow-color);
    }
    .icon {
      text-align: center;

    }
    &.discovery {
      top: 0;
      left: 0;
    }
    &.design {
      top: 50px;
      right: 0;
    }
    &.development {
      bottom: 0;
      left: 0;
    }
    &.discoverability {
      bottom: -50px;
      right: 0;
    }
  }
}

