<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-P">
    <div class="col-12 col-md-4 p-0 m-0">
      <div class="card card-body m-0">
        <div class="d-flex">
          <img src="assets/services/web.png" alt="" class="img-fluid" style="width: 64px; height: 64px">
          <div class="ml-2">
            <h4>Développement Web</h4>
            <p class="text-muted">Des applications métiers calibrées sur vos besoins</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-4 p-0 m-0">
      <div class="card card-body m-0">
        <div class="d-flex">
          <img src="assets/services/mobile.png" alt="" class="img-fluid" style="width: 64px; height: 64px">
          <div class="ml-2">
            <h4>Développement Mobile</h4>
            <p class="text-muted">Nos solutions mobiles vous simplifient la vie et celle de vos utilisateurs</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-4 p-0 m-0">
      <div class="card card-body m-0">
        <div class="d-flex">
          <img src="assets/services/design.png" alt="" class="img-fluid" style="width: 64px; height: 64px">
          <div class="ml-2">
            <h4>UX | UI Design</h4>
            <p class="text-muted">Un design simple et captivant pour toutes platforme</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

