.wrapper{
  width: 100%;
  height: 260px;
  background-color: #570A50;
  background-image: url("../../../../assets/about/about-header.jpg");
  background-position: center;
  background-size:contain;
  position: absolute;
}
