.col-12{
  min-height: 83vh;
}
.btn{
  background-color: #570A50;
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}
#upload{
  display: none;
}

.nav-wrapper{
  background-color: #570A50 !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //position: relative;
}

p{
  font-size: 16px;
}

.text{
  margin-top: 12vh;
}
