/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import '~css-star-rating/css/star-rating.min.css';

html, body{
  width: 100% !important;
  //overflow-x: hidden !important;
  font-family: 'Roboto', sans-serif !important;
  background-color: #EFF3FF;
  font-size: 11px;

}
.bg-red{
  background-color: #DC5459;
}

.bg-dark-blue{
  background-color: #082552;
}



.bg-blue{
  background-color: #0F38A7;
}

.bg-dark-gray{
   background-color: #26454F;
}
.bg-footer{
  background-color: #220F10;
}
.bg-light-red{
  background-color: #DC9293;
}

.text-light-red{
  color: #DC9293;
}

.bg-light-blue{
  background-color: #96CEFF;
}

.custom-image-main{
  border: none !important;
  box-shadow: none !important;
  .image{
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }

}
.img-div{
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
 // width:  140px !important;
  //height: 140px !important;
}
.caption{
  background: none !important;
  display: none !important;
}

a{
  color: #FFFFFF;
}
