<div *ngIf="appData != null" class="container-fluid m-0 p-0">
  <app-header [header]="appData.header"></app-header>
  <app-services></app-services>
  <app-about-us [image]="'assets/images/about-us.jpg'" ></app-about-us>
  <app-technos [techno]="appData.techno"></app-technos>
  <app-industry [industry]="appData.industry"></app-industry>
  <app-team [team]="appData.team" ></app-team>
  <app-blog-new-articles></app-blog-new-articles>
  <app-contact [contact]="appData.contact" ></app-contact>
  <app-footer [footer]="appData.footer"></app-footer>
</div>
<a href="https://api.whatsapp.com/send?phone=+221777443663&text=Bonjour je souhaite faire appel à vos service." class="float" target="_blank">
  <i class="fa fa-whatsapp my-float"></i>
  </a>


